<main>
  <div class="container">
  	<div class="row">
		<h3><%= I18n.t("update_project")%></h3>
	</div>

	<div class="row">
		<%= render 'form2', todo_project: @todo_project %>

		<%= link_to I18n.t("project_page"), @todo_project %> |
		<%= link_to I18n.t("back"), todo_projects_path %>
	</div>
  </div>
</main>
